SSE 644 Project 2
=====================
Sarah Kashin

October 30, 2017

Table Of Contents
=====================

Introduction
=====================

This paper presents the topics learned in  the first three chapters of *IPython Interactive Computing and Visulization Cookbook* by Cyrille Rossant.  IPython is a command shell for interactive computing.  It was originally developed for Python, however it can be used in multiple programming languages.  Python 3.6 was used in Jupyter Notebook for this project.  Jupyter is a web based interactive notebook used for displaying and sharing of scientific research so that results and work can easily be understood by other researchers.  The user is able to write code in cells and run each cell individually or multiple cells together.  The output is shown below the cell.  This is extremely useful, as the user can run and troubleshoot cells one at a time.  Cells can output much more than just strings and calculations.  Cells also can output rich text and multimedia in order to explain the code as the user goes.


IPython is ideal when learning to analyze and visualize data.  Python is a language that enables people to quickly and efficiently write code to solve problems. It uses simplified syntax for readability as well as contains libraries that will perform large tasks for programmers.  This paper discusses the project developed to demonstrate the topics learned in the text and also highlights some additional topics.  The final code and indirect activity report are included in the appendices.

### Females in Engineering

Even though engineering is a growing field, there are still many more males than females in the field.  I have experienced this discrepency myself ad I was the only female electrical engineering major at Mercer University in my year.  My mother, who graduated as an electrical engineering major 30 years ago, also experienced the discrepency in male-female engineers in universities.  I am extremely interested in analyzing the statistics of female engineers in the United States and thus have focused on this in this paper.

Statistics were used from the National Science Foundation (NSF) and are analyzed in the following sections.

Developed Project
====

### Scientific Packages
Importing scientific packages allows the user to use the tools within the packages.  The packages in this project are numpy, pandas, and matplotlib.  Pandas is a library that provides structures and functions for manipulating data as well as provides a means to visualize this data. Matplotlib is used to further visualize the data.

In [90]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.html.widgets import interact

%matplotlib inline

### Data from CSV
A CSV is a Comma-separated values data file.  A CSV was used to import the values of the total number of engineers that graduated from 1995-2014 and the statistics for each gender.

In [91]:
url = "./female_engineer_stats.csv"
df = pd.read_csv(url, index_col = "Year", parse_dates = False)
print(df)

     All recipients  Female    Male  \
Year
1995         63,371  10,950  52,421
1996         63,077  11,314  51,763
1997         62,356  11,471  50,885
1998         60,925  11,341  49,584
1999         60,207  11,774  48,433
2000         59,487  12,206  47,281
2001         59,214  11,912  47,302
2002         60,605  12,682  47,923
2003         63,789  12,980  50,809
2004         64,680  13,263  51,417
2005         66,152  13,203  52,949
2006         68,227  13,338  54,889
2007         68,274  12,653  55,621
2008         69,908  12,921  56,987
2009         70,600  12,750  57,850
2010         74,399  13,693  60,706
2011         78,099  14,658  63,441
2012         83,263  15,981  67,282
2013         87,812  16,934  70,878
2014         93,950  18,626  75,324

      Percentage of  Female Engineering Graduates
Year
1995                                        17.28
1996                                        17.94
1997                                        18.40
1998                                        18.61
1999                                        19.56
2000                                        20.52
2001                                        20.12
2002                                        20.93
2003                                        20.35
2004                                        20.51
2005                                        19.96
2006                                        19.55
2007                                        18.53
2008                                        18.48
2009                                        18.06
2010                                        18.40
2011                                        18.77
2012                                        19.19
2013                                        19.28
2014                                        19.83

### Interactive Widget
The interactive widget below allows for the comparison of the percentage of females that graduated with engineering between 1995 and 2014.  The two sliders, minYear and maxYear, allow for the display of a range of years' worth of data. However, if the maxYear value is lower than or equal to the minYear value then only the maxYear value will be displayed.

In [92]:
@interact
def describe(minYear=(1995, 2014), maxYear=(1995, 2014)):
    if(maxYear < minYear):
        minYear = maxYear
    print(df[df.index.map(lambda x: x.year >= minYear and x.year <= maxYear)]
          [['Percentage of  Female Engineering Graduates']].describe())

### Females in Engineering 1995-2014
The following table show the number of people that graduated with engineering degrees between 1995 and 2014.  The table shows all recipients, the number of each gender, and the percentage of females that graduated with engineering degrees.

In [93]:
df.head(20)

,All recipients,Female,Male,Percentage of Female Engineering Graduates
Year,,,,
1995,"63,371","10,950","52,421",17.28
1996,"63,077","11,314","51,763",17.94
1997,"62,356","11,471","50,885",18.40
1998,"60,925","11,341","49,584",18.61
1999,"60,207","11,774","48,433",19.56
2000,"59,487","12,206","47,281",20.52
2001,"59,214","11,912","47,302",20.12
2002,"60,605","12,682","47,923",20.93
2003,"63,789","12,980","50,809",20.35
2004,"64,680","13,263","51,417",20.51
2005,"66,152","13,203","52,949",19.96
2006,"68,227","13,338","54,889",19.55
2007,"68,274","12,653","55,621",18.53
2008,"69,908","12,921","56,987",18.48
2009,"70,600","12,750","57,850",18.06
2010,"74,399","13,693","60,706",18.40
2011,"78,099","14,658","63,441",18.77
2012,"83,263","15,981","67,282",19.19
2013,"87,812","16,934","70,878",19.28
2014,"93,950","18,626","75,324",19.83

In [ ]:
year = df['Year']
males = df['Male']
males = df['Female']
plot1 =